
.section-title {
	text-align: center;
	margin: 10px 0 10px 0;
	border-bottom: 2px solid black;
}

/*		Top Nav		*/
nav {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 20px;

}

.navbar-nav>.nav-item:hover {
	color: #EF6C00;
	border-bottom: 1px solid #EF6C00;
}

nav>a {
	color: #000;
}
nav>a:hover {
	color:  #fff;
}
.navbar-nav>a {
	color: #000;
}

.nav-item .nav-link {
	padding: 40px;
}

.navbar-nav {
	margin: 0 auto;
}

/*		Banner		*/

.banner {
	overflow: hidden;
	min-width: 100%;
}

.banner img {
	min-width: 100%;
}

/*			About Us 			*/

#about-us {
	padding: 50px 0 50px 0;
}

.about-us {
	min-width: 100%;
}

.img-about1 {
	width: 300px;
	height: 450px;
}


/*			Pests 				*/

#pests {
	padding: 50px 0 50px 0;
	background-color: #fff;
}

.gallery-image{
	cursor:pointer;
	position: relative;
	display: block;
	margin: 20px 20px 20px 20px;
}

.gallery-text{
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	width: 300px;
	height: 200px; 
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
	vertical-align:middle;
	line-height:200px;
}

.gallery-text:hover{
	opacity: 1;      
}

.gallery-text h3{
	color: white;
	display: inline-table;
	vertical-align:middle;
	line-height:100%;            
}

.pest-button {
	padding: 8px 12px 8px 12px;
	font-size: 15px;
	color: #fff;
	border: 1px solid white;
	background-color: transparent;
}



/*			Services 			*/

#services {
	padding: 50px 0 50px 0;
	background-color: yellow;
}



/*			Clients 			*/

#clients {
	padding: 50px 0 50px 0;
	background-color: purple;
}

/*			Team 				*/

#team {
	padding: 50px 0 50px 0;
	background-color: grey;
}

.img-thumbnail {
	max-height: 236px;
}

.card-text {
	text-align: center;
}

.team-name {
	font-weight: bold;
}

.team-title {

}


/*			Footer 				*/

.footer {
	background-color: #2d3e50;
	bottom: 0;
	color: #fff;
	font-family: 'Bitter', serif;
	max-height: 200px;
	overflow: hidden;

}

.contact-list {
	padding: 40px 10px 10px 10px;
}

address {
	padding: 40px 10px 10px 10px;
}