/*		Top Nav		*/
nav {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 20px;

}

.navbar-nav>.nav-item:hover {
	color: #EF6C00;
	border-bottom: 1px solid #EF6C00;
}

nav>a {
	color: #000;
}
nav>a:hover {
	color:  #fff;
}
.navbar-nav>a {
	color: #000;
}

.nav-item .nav-link {
	padding: 40px;
}

.navbar-nav {
	margin: 0 auto;
}

/*		Banner		*/

.banner {
	overflow: hidden;
	min-width: 100%;
}

.banner img {
	min-width: 100%;
}

/*			Pests 				*/
	





/*			Services 			*/





/*			Clients 			*/





/*			Footer 				*/

.footer {
	background-color: #2d3e50;
	bottom: 0;
	color: #fff;
	font-family: 'Bitter', serif;
	max-height: 200px;
	overflow: hidden;

}
